<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gambo.demo_proyecto">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="mx.ipn.escom.reportes.ReportesPrincipal" />
        <activity android:name="mx.ipn.escom.reportes.ReportesActivity" />
        <activity android:name="mx.ipn.escom.vistas.MenuActivity" />
        <activity android:name="mx.ipn.escom.controlacceso.vista.InicioSesionActivity" />
        <activity android:name="mx.ipn.escom.controlacceso.vista.Activity_editarEmpleado" />
        <activity android:name="mx.ipn.escom.controlacceso.vista.CambiarContrasenaActivity" />
        <activity android:name="mx.ipn.escom.controlacceso.vista.IngresaCodigoActivity" />
        <activity android:name="mx.ipn.escom.controlacceso.vista.OlvideContrasenaActivity" />
        <activity android:name="mx.ipn.escom.controlacceso.vista.ManejoUsuariosActivity" />
        <activity android:name="mx.ipn.escom.controlacceso.vista.UsuarioInicioActivity" />
        <activity android:name="mx.ipn.escom.controlacceso.vista.RegistrarEmpresaActivity" />
        <activity android:name="mx.ipn.escom.codigoqr.vista.CodigoQrPrincipal" />
        <activity android:name="mx.ipn.escom.codigoqr.vista.IngresaCodigoActivity" />
        <activity android:name="mx.ipn.escom.codigoqr.vista.Activity_escanerCodigo" />
        <activity android:name="mx.ipn.escom.codigoqr.vista.ScanearQr" />
        <activity android:name="mx.ipn.escom.inventario.vista.ConfigurarInventario" />
        <activity android:name="mx.ipn.escom.inventario.vista.Inventario" />
        <activity android:name="mx.ipn.escom.inventario.vista.InventariosPrincipal" />
        <activity android:name="mx.ipn.escom.producto.vista.Activity_Producto" />
        <activity android:name="mx.ipn.escom.producto.vista.Formulario_CPU" />
        <activity android:name="mx.ipn.escom.producto.vista.Formulario_Monitor" />
        <activity android:name="mx.ipn.escom.producto.vista.Formulario_Perifericos" />
        <activity android:name="mx.ipn.escom.producto.vista.Formularo_Portatil" />
        <activity android:name="mx.ipn.escom.producto.vista.RegistrarProducto" />
        <activity android:name="mx.ipn.escom.reporte.vista.ReportesActivity" />
        <activity android:name="mx.ipn.escom.reporte.vista.ReportesPrincipal" />
        <activity android:name="mx.ipn.escom.controlacceso.vista.ConfigCuentaActivity" />
        <activity android:name="mx.ipn.escom.controlacceso.vista.ConfigurarCuenta"></activity>
    </application>

</manifest>